.navBar {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  height: rem(70);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  @include container;
}

.navLogo {
  font-family: $secondary-font-family;
  font-size: rem(20);
  text-transform: uppercase;
}

.mainNav {
  font-family: $secondary-font-family;
  font-size: rem(14);
  justify-self: end;
  text-transform: uppercase;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navListItem {
  margin-left: rem(25);

  a {
    color: $default-link-color;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $default-link-color-hover;
    }
  }
}

.active {
  border-bottom: 2px solid $accent-color;

  &:hover {
    border-bottom: 2px solid lighten($accent-color, 5%);
  }
}
