.wrap {
  margin-bottom: rem(100);
  width: 100%;
}

.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: rem(500);
  margin-bottom: rem(50);
  overflow: hidden;
  width: 100%;
}

.heroContent {
  @include container;
}

.title {
  background: $accent-color;
  color: #fff;
  display: inline-block;
  margin-bottom: rem(10);
  opacity: 0.8;
  padding: rem(5 15);
  width: auto;
}

.publishedAt {
  background: $accent-color;
  color: #fff;
  display: inline-block;
  font-family: $secondary-font-family;
  font-size: rem(18);
  opacity: 0.8;
  padding: rem(3 15);
}

.excerpt {
  font-size: rem(25);
  font-weight: 500;
  line-height: 1.5;
  width: 70%;
}

.grid {
  @include container;
  display: grid;
  grid-gap: rem(100);
  grid-template-columns: 3fr 1fr;
}
