.container {
  @include container;
}

.section {
  @include section;
  background: transparent;
}

.pageHeader {
  background-size: cover;
  height: rem(500);
  position: relative;
}

.pageContent {
  background-position: 50% -300px;
  background-repeat: no-repeat;
}

.headerDesc {
  @include headerDesc;

  span {
    color: #fff;
    margin: 0;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    width: 100%;
  }
}

.pageNav {
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.btnBackHome {
  color: #000;
  font: rem(14) $secondary-font-family;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.linkIcon {
  font-size: rem(20);
  position: relative;
}

.pageLogo {
  text-align: center;
  width: 100%;
}

.sectionHeader {
  margin: 0;
}

.sectionHeaderResume {
	margin-bottom: rem(20);

  h2 {
    border: none;
    font-size: rem(40);
    text-align: center;
  }
}

.subTitle {
	font-size: rem(14);
	margin-left: 3%;
}

.resumeWrap {
  align-items: center;
  background: #15C1D4;
  color: #fff;
  display: flex;
  max-width: rem(127);
  padding: rem(5);

  a {
    color: #fff;
    font: $section-header-desc-font;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
}

.resumeLink {
	padding-right: rem(5);
}

.resumeRow {
  margin-bottom: rem(30);
	margin-top: rem(30);
	padding-bottom: rem(20);
	padding-top: rem(20);
}

.resumeContent {
	border-bottom: 1px solid #b2b2b2;
	padding-bottom: 4%;
}

.headerDescResume {
	span {
    color: $default-text-color;
		display: block;
		font: $section-header-desc-font;
    line-height: rem(24);
		margin: 0 auto;
		text-align: center;
    width: $section-header-desc-width;
	}
}

.resumeRow {
  display: grid;
  grid-gap: rem(50);
  grid-template-columns: 1fr;

  @media ($mdMin) {
    grid-template-columns: 1fr 4fr;
  }
}

.jobRow {
  margin-bottom: rem(50);

  ul {
    margin: rem(0 0 10 35);

    li {
      font-size: rem(15);
      list-style-type: disc;
    }
  }
}

.skillsRow {
  display: grid;
  grid-gap: rem(20);
  grid-template-columns: 1fr;

  @media ($mdMin) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pageTitle {

  h1 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  }
}
