@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: $primary-font-line-height;
}

body {
  background: $body-background-color;
  box-sizing: border-box;
  color: $default-text-color;
  font-family: $primary-font-family;
  font-size: $primary-font-size;
	line-height: $primary-font-line-height;
  margin: 0;
}

.el-gap {
	margin-bottom: $elements-gap;
}

b,
strong {
  font-weight: 600;
}

.sh-left {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
		text-align: left;

		span {
		  &::before {
        border: none;
        content: "";
			}
		}
	}

	.header-desc {

		span {
      margin: 0;
			text-align: left;
		}
	}
}

.sh-center {
	text-align: center;

	&::before {
    border-bottom: none;
		content: "";
	}

	span {
    background: transparent;
		padding: 0;
	}
}

.bottom-gap {
	margin-bottom: $elements-gap;
}
