@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
:root {
  /* FONTS */
  --primary-font-family: "Open Sans", Arial, Helvetica, sans-serif;
  --primary-font-size: 14px;
  --primary-font-line-height: 1.6em;
  --secondary-font-family: "Montserrat", sans-serif;
  --h-font-family: --secondary-font-family;
  --h1-size: 42px;
  --h2-size: 32px;
  --h3-size: 24px;
  --h4-size: 20px;
  --h5-size: 16px;
  --h6-size: 13px;

  /* COLORS */
  --primary-color: #fff;
  --secondary-color: #191919;
  --accent-color: #15C1D4;

  --body-background-color: --primary-color;
  --default-text-color: #666666;
  --default-link-color: #191919;
  --default-link-color-hover: #666666;
  --h-color: #191919;

  /* SECTIONS */
  --elements-gap: 100px;
  --section-bg-diff: darken(--body-background-color, 5%);
  --section-inverse-bg: --secondary-color;
  --elements-gap-resume: 20px;

  /* LOADER */
  --loader-bg-color: #fff;
  --loader-spinner-color: --secondary-color;
  --loader-spinner-size: 40px;
  --loader-spinner-circle-size: 7px;
}
