@mixin btn() {
  background-color: $accent-color;
  border: none;
  border-radius: $btn-border-radius;
  color: #fff;
  cursor: pointer;
  font-family: $secondary-font-family;
  font-size: rem(14);
  font-weight: 500;
  padding: rem(6 12);
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}
