@mixin headerDesc() {
	span {
    color: $default-text-color;
    display: block;
    font: $section-header-desc-font;
    margin: 0 auto;
    text-align: center;
		width: $section-header-desc-width;

		a {
			color: $primary-color;
		}
	}

	&::before {
    border-bottom: 2px solid $secondary-color;
    content: "";
    left: 47.8%;
    position: absolute;
    top: rem(36);
		width: rem(50);
  }
}

/* HEADERS */
@mixin sectionHeader() {
  margin-bottom: $elements-gap;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $secondary-color;
    font-family: $secondary-font-family;
    text-align: center;
    text-transform: uppercase;

    span {
      position: relative;

      &::before,
      &::after {
        border-bottom: 2px solid $section-header-line-color;
        content: "";
        position: absolute;
        width: $section-header-line-width;
      }

      &::before {
        left: calc(- $section-header-line-width - 25px);
      }

      &::after {
        right: calc(- $section-header-line-width - 25px);
      }
    }
  }

  h1 span {
    &::before,
    &::after {
      top: calc($h1-size / 2 + 2px);
    }
  }

  h2 span {
    &::before,
    &::after {
      top: calc($h2-size / 2 + 2px);
    }
  }

  h3 span {
    &::before,
    &::after {
      top: calc($h3-size / 2 + 2px);
    }
  }

  h4 span {
    &::before,
    &::after {
      top: calc($h4-size / 2 + 2px);
    }
  }

  h5 span {
    &::before,
    &::after {
      top: calc($h5-size / 2 + 2px);
    }
  }

  h6 span {
    &::before,
    &::after {
      top: calc($h6-size / 2 + 2px);
    }
  }
}
