@mixin section() {
  background: $body-background-color;
	padding: calc($elements-gap / 2) 0;
  position: relative;

  @media ($mdMin) {
    padding: $elements-gap 0;
  }
}

@mixin section-diff() {
	background: darken($body-background-color, 5%);
}

@mixin section-bg-overlay() {
	&::before {
    background: rgba(0,0,0,0.7);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
		width: 100%;
	}

	.container {
		position: relative;
	}

  .small-header span {
    background: transparent;
  }
}

@mixin section-bg-attached() {
	background-attachment: fixed;
	background-size: cover;
}
