@mixin section() {
  background: $body-background-color;
	padding: calc($elements-gap / 2) 0;
  position: relative;

  @media ($mdMin) {
    padding: $elements-gap 0;
  }
}

@mixin sectionDiff {
	background: $section-bg-diff;
}

@mixin sectionGgOverlay() {
	&::before {
    background: rgba(0,0,0,0.7);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
		width: 100%;
	}

	.container {
		position: relative;
	}

  .small-header span {
    background: transparent;
  }
}

@mixin sectionBgAttached() {
	background-attachment: fixed;
	background-size: cover;
}
