@mixin screenreader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

@mixin imgCircle() {
  border-radius: 50%;
}

@mixin centered() {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
}

@mixin accentColor() {
  color: $accent-color;
}

@mixin bottomGap {
	margin-bottom: $elements-gap;
}

@mixin service-triangle($size, $color, $bg-color) {
	height: $size;
	width: $size;
	border-top: $size solid $bg-color;
	border-left: $size solid $color;
	transition: all 0.5s;
}
