/* ABOUT US */
.aboutText {
	position: relative;
}

.firstSection {
  padding-top: rem(410);
}

.row {
  lost-utility: clearfix;
}

.col {
  lost-column: 1/2;
}

.profilePic {
  @include imgCircle;
}

.headerDesc {
  @include headerDesc;
}

.sectionHeader {
  @include sectionHeader;
}
