/* ABOUT US */
.container {
  @include container;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.gridRow {
  @include gridRow(2);
}

.section {
  @include section;
  height: rem(350);

  @media ($mdMin) {
    height: rem(465);
  }
}

.aboutTopImage {
  background-color: #fff;
  background-position: 67%;
  background-repeat: no-repeat;
  order: 1;
  position: relative;
  transition: filter 0.2s ease-in-out;

  @media ($mdMin) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    order: 0;

    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}

.firstSection {
  order: 0;
  padding-top: rem(0);

  @media ($mdMin) {
    order: 1;
  }
}

.col1 {
  margin-bottom: rem(20);
}

.profilePic {
  @include imgCircle;
}

.headerDesc {
  @include headerDesc;
}

.sectionHeader {
  @include sectionHeader;
  margin-top: rem(50);
}

.totalCountries {
  font-family: $secondary-font-family;
  font-size: rem(41);
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: rem(50);
  text-align: center;
  text-transform: uppercase;

  @media ($mdMin) {
    margin-top: rem(100);
  }
}

.count {
  color: $accent-color;
  display: block;
  font-family: $secondary-font-family;
  font-size: rem(160);
  font-weight: 700;
  line-height: 1.4;
}

.countriesTraveled {
  line-height: 1.4;
}

.screenReaderText {
  @include screenreader-only;
}
