/* ABOUT US */
.aboutText {
	background: url(img/skateboard-BW.jpg) no-repeat center top $body-background-color;
	position: relative;
}

.firstSection {
	padding-top: rem(410);
}

.row {
  lost-utility: clearfix;
}

.col {
  lost-column: 1/2;
}
