.container {
  @include container;
}

.gridRow {
  @include gridRow(2);
}

.col6 {
  margin-bottom: rem(50);

  @media ($mdMin) {
    margin-bottom: 0;
  }
}

.section {
  @include section;
}

.headerDesc {
  @include headerDesc;
}

.sectionHeader {
  @include sectionHeader;
}

.smallHeader {
  @include smallHeader;
}

.accentColor {
  @include accentColor;
}

.socialIcons a {
  color: #cccccc;
  font-size: rem(26);
  margin: rem(0 15 6 0);
  text-decoration: none;

  &:hover {
    color: #000;
  }

  &.twitter {
    &:hover {
      color: #33ccff;
    }
  }

  &.facebook {
    &:hover {
      color: #3b5998;
    }
  }

  &.linkedin {
    &:hover {
      color: #007bb6;
    }
  }

  &.instagram {
    &:hover {
      color: #c13584;
    }
  }

  &.youtube {
    &:hover {
      color: #ff0000;
    }
  }
}

.btn {
  @include btn;

  &.contactBtn {
    width: 100%;

    @media ($smMin) {
      width: 50%;
    }
  }
}

.formGroup {
  @include formGroup;
}

.formInput,
.textarea {
  @include formInput;
}

.formInput {
  width: 100%;

  @media ($smMin) {
    width: 50%;
  }
}

.textarea {
  width: 100%;
}

.bottomGap {
  @include bottomGap;
}

.errorMessage {
  @include errorMessage;
}

.inputError {
  @include inputError;
}

.screenReaderText {
  @include screenreader-only;
}

.formAlert {
  background-color: $section-bg-diff;
  margin-top: rem(15);
  padding: rem(10 20);
  text-align: center;
  width: 100%;

  span {
    color: #fff;
    font-size: rem(16);
    font-weight: 500;
  }
}

.errorAlert {
  background-color: $error-red;
}

.successAlert {
  background-color: $success-green;
}
