.wrap {
  @include container;
  margin-top: calc($elements-gap / 2);
}

.projectTitle {
  margin-bottom: rem(50);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  @media ($mdMin) {
    grid-column-gap: 50px;
    grid-template-columns: 1fr 3fr;
  }
}

.projectSlider {
  margin-bottom: $elements-gap;
  text-align: center;

  img {
    display: inline;
    text-align: center;
    width: auto;
  }
}

.projectInfo {
  span {
    display: block;

    small {
      color: $secondary-color;
      font: 14px $secondary-font-family;
      padding-right: rem(10);
      text-transform: uppercase;
    }
  }

  .btn {
    margin-top: rem(35);
    width: 100%;
  }
}

.projectMeta {
  margin-bottom: calc($elements-gap / 2);

  @media ($mdMin) {
    margin-bottom: 0;
  }
}

.portfolioCopy {
  margin-bottom: calc($elements-gap / 2);
}

.smallHeader {
  @include smallHeader;
}

.blockContent {
  margin-bottom: calc($elements-gap / 2);
}

.videoWrap {
  height: 100%;
  margin-bottom: rem(75);
  position: relative;
  width: 100%;

  @media ($mdMin) {
    background: url('../../assets/images/macbook_pro.png') no-repeat center;
    height: rem(568);
    margin-bottom: rem(45);
  }
}

.browserWindow {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;

  @media ($mdMin) {
    height: rem(386);
    top: rem(55);
    width: rem(715);
  }
}

.browserHeader {
  background: #e0e0e0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: rem(30);
  left: 0;
  padding: rem(8);
  position: absolute;
  top: 0;
  width: 100%;
}

.headerBtns {
  margin: 0;
  padding: 0;

  li {
    float: left;
    list-style: none;
    padding: 0;
    margin-right: 6px;

    .browserHeaderCircle {
      border-radius: 50%;
      display: block;
      height: rem(13);
      width: rem(13);

      &.red {
        background: #f42828;
      }

      &.yellow {
        background: #f6bb15;
      }

      &.green {
        background: #31cd32;
      }
    }
  }
}

.playBtn {
  color: $accent-color;
  display: flex;
  flex-direction: column;
  font-size: 4em;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: rem(30);
  z-index: 10;

  @media ($mdMin) {
    font-size: 5em;
    position: relative;
    top: 0;
  }

  &:hover {
    color: color($accent-color shade(10%));
    cursor: pointer;
  }
}

.pauseBtn {
  color: #000;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 4px;
  z-index: 10;

  &:hover {
    color: $accent-color;
  }
}

.fitVid {
  display: flex;
  height: 100%;
  position: relative;
  top: rem(30);
}

.portfolioVideo {
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  position: relative;
  top: rem(30);
  width: 100%;

  @media ($mdMin) {
    position: absolute;
    top: rem(50);
  }
}

.carouselWrap {
  display: block;
  margin-bottom: $elements-gap;
}

.slideImg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  width: auto;
}

.sliderWrap {
  position: relative;
}

.buttonBack,
.buttonNext {
  background: transparent;
  border: 0;
  outline: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navArrow {
  color: color($secondary-color lightness(70%));
  font-size: rem(30);
  transition: color 0.2s;

  &:hover {
    color: color($secondary-color lightness(50%));
  }
}

.buttonBack {
  left: 0;
}

.buttonNext {
  right: 0;
}

.dotGroup {
  text-align: center;

  button {
    background: color($secondary-color lightness(80%));
    border-color: color($secondary-color lightness(80%));
    border-radius: 50%;
    color: color($secondary-color lightness(80%));
    content: '';
    height: rem(10);
    margin: 0 rem(10);
    outline: 0;
    padding: 0;
    width: rem(10);
  }
}

.dotGroup {
  margin-top: rem(25);
  position: relative;
  text-align: center;
}

.projectError,
.projectLoader {
  display: block;
  text-align: center;
  font: 14px $secondary-font-family;
  text-transform: uppercase;
  padding: $elements-gap 0;
}

.tags {
  list-style: none;
  margin: 0 0 rem(40);
  padding: 0;

  li,
  a {
    float: left;
    font-size: rem(11);
    height: rem(24);
    line-height: rem(24);
    margin-bottom: 5px;
    position: relative;
  }

  a {
    background: $accent-color;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: $primary-color;
    margin-left: rem(20);
    padding: rem(0 10 0 12);
    text-decoration: none;

    &::before,
    &::after {
      content: '';
      float: left;
      position: absolute;
    }

    &::before {
      border-color: transparent $accent-color transparent transparent;
      border-style: solid;
      border-width: rem(12 12 12 0);
      height: 0;
      left: -12px;
      top: 0;
      width: 0;
    }

    &::after {
      background: $primary-color;
      border-radius: $btn-border-radius;
      bottom: 0;
      box-shadow: -1px -1px 2px #004977;
      height: 4px;
      left: 0;
      top: rem(10);
      width: 4px;
    }
  }
}

.btn {
  @include btn;
  display: block;
  width: 100%;
}

.relatedProjects {
  margin: rem(20 0 100 0);

  @media ($mdMin) {
    margin-top: rem(50);
  }
}

.btnWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc($elements-gap / 2);

  @media ($mdMin) {
    margin-bottom: $elements-gap;
  }
}

.linkBtn {
  @include btn;
  align-items: center;
  display: flex;
  line-height: 1.4;
}

.pageIcon {
  font-size: rem(20);
}
