.fullScreen {
  background: #191919;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 10;
}

.imgWrap {
  background-position: left 50% bottom 30%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @media ($smMin) {
    display: none;
  }
}

.videoWrap {
  display: none;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @media ($smMin) {
    display: block;
  }

  @media (min-aspect-ratio: 16/9) {
    height: auto;
    width: 100%;
  }

  @media (max-aspect-ratio: 16/9) {
    height: 100%;
    width: auto;
  }
}

.logoHome {
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 70px;

    @media ($mdMin) {
      max-width: 90px;
    }
  }
}

.overlay {
  @include overlay;
}

.homeContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: rem(50 0 100);
  position: relative;
  z-index: 3;
}

.homeText {
  margin-bottom: rem(100);
}

.textHeader {
  color: color(#ffffff shade(5%));
  display: inline-block;
  font: italic 500 rem(28) $primary-font-family;
  margin-bottom: rem(10);
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);

  @media ($mdMin) {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.smallText {
  color: color(#ffffff shade(5%));
  display: block;
  font: 500 rem(15) $secondary-font-family;
  margin: rem(10) auto 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  width: 100%;
}

.bigText {
  color: color(#ffffff shade(5%));
  display: block;
  font-family: $secondary-font-family;
  font-size: rem(70);
  line-height: rem(75);
  text-transform: uppercase;
  padding: 0 0 rem(20);
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;

  @media ($mdMin) {
    font-size: rem(120);
    line-height: rem(100);
    margin-bottom: rem(35);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
}

.btn {
  @include btn;
  padding: rem(6) rem(40);
}

.screenReaderText {
  @include screenreader-only;
}
